.container-catalog {
    width: 100vw;
    min-width: 290px;
    padding-top: 102px;
}

.card {
    margin: 0;
    padding: 0;
}

.container-card-singl {
    width: 68vw;
    margin: 0 auto;
}

.pic-product {
    width: 100%;
    object-fit: contain;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card-description {
    padding: 8px 16px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: x-small;
}

.card-title {
    margin: 0;
}

.card-price {
    margin: 4px 0;
}

.container-card-dbl {
    margin: 96px 0;
    display: flex;
}